:root {
    --primary-color: #12487F;
    --gray-color: #f3f2f2;
    --white-color: white;
    --black-color: black;
    --yellow-color: #ffcb05;
    --contact-color: #f88c06;
    --price-color: #f3283d;
    --pay-btn-color: #ff5722;
    --text-color: #6c757d;
    --light: #f8f9fa;
}

input {
    border: none;
}

a {
    text-decoration: none;
}

textarea:focus, input:focus {
    outline: none;
}

ul {
    list-style: none;
}