<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/web/productDetail.css" />
    <script
      src="https://kit.fontawesome.com/13d80a87b8.js"
      crossorigin="anonymous"
    ></script>
    <title>Curren</title>
  </head>

  <body>
    <!---<div class="container">-->
    <section class="breadcrumb"></section>
    <section class="product"></section>
    <section class="content-detail-tab"></section>
    <section class="same-product">
      <div class="container">
        <div class="same-product--title">
          <h2>
            <a href="">Sản phẩm cùng loại</a>
          </h2>
        </div>
        <div class="same-product--line"></div>
        <div class="same-product--container"></div>
        <div class="same-product--actRight">
          <i class="fa-solid fa-chevron-right fa-2xl"></i>
        </div>
        <div class="same-product--actLeft">
          <i class="fa-solid fa-chevron-left fa-2xl"></i>
        </div>
      </div>
    </section>

    <script type="module" src="../../assets/JS/productDetail.js"></script>
  </body>
</html>
